@model SchoolManagement.Services.ViewModels.Chat.JoinRoomViewModel
@inject IConfiguration  configuration

@section Styles{
    <link rel="stylesheet" href="~/css/chat.css" />
    <link rel="stylesheet" href="~/lib/Hover-master/css/hover.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
}
<div class="hide" id="form">
    <form asp-action="CreateRoom" method="post">
        <i class="far fa-window-close" id="closeForm" onclick="toggleForm()"></i>
        <div class="form-group">
            <label for="roomName" class="control-label">Room name</label>
            <input name="roomName" class="form-control" id="roomNameInput" onchange="disableButton()"/>
        </div>
        <input class="btn btn-primary" type="submit" value="Create" id="formBtn"/>
    </form>
</div>


<div class="chatRoomContainer">
    <div class="bars" onclick="toggleSideMenu()">
        <i class="fas fa-bars"></i>
    </div>
    <div class="side-menu" id="sideMenu">
        <a class="btn btn-primary hvr-grow" onclick="toggleForm()"><strong>+</strong></a>
        @foreach (var chatRoom in Model.Chatrooms)
        {
            <a class="btn btn-info hvr-grow" asp-action="JoinRoom" asp-route-chatroomId="@chatRoom.Id">@chatRoom.Name</a>
        }
    </div>

    <div class="chat" id="chat">
        @if (Model.ChatroomId == 0)
        {
            @foreach (var message in Model.Chatrooms.FirstOrDefault(x => x.Name == configuration["DefaultChatroom"]).Messages)
            {
                <div class="message">
                    <header><b>@message.CreatedBy:</b></header>
                    <p>@message.Text</p>
                    <footer><b>@message.DatePosted.ToString("MMMM-dd, hh:mm tt")</b></footer>
                </div>
                <hr />
            }
        }
        else
        {
            @foreach (var message in Model.Chatrooms.FirstOrDefault(x => x.Id == Model.ChatroomId).Messages)
            {
                <div class="message">
                    <header><b>@message.CreatedBy:</b></header>
                    <p>@message.Text</p>
                    <footer><b>@message.DatePosted.ToString("MMMM-dd, hh:mm tt")</b></footer>
                </div>
                <hr />
            }
        }
    </div>

    <div class="inputContainer">
        <form asp-action="CreateMessage" method="post">
            <input hidden name="chatroomId" value="@Model.ChatroomId" />
            <input class="form-control" name="text" />
            <input type="submit" class="btn btn-success" value="Send" />
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/lib/Axios/axios.js"></script>
    <script src="~/lib/SignalR/jquery.signalR.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="https://kit.fontawesome.com/15dcd5d68f.js" crossorigin="anonymous"></script>
}